**/node_modules
**/.next
**/dist
**/build
**/out
**/coverage
**/.turbo
npm-debug.log
yarn-error.log
pnpm-debug.log
.git
.env
.env.local
.env.*.local
!.env.example
!.env.prod.example
README.md
.vscode
.idea
*.log
.DS_Store
**/.pnp
**/.pnp.js
